@media (max-width: 1140px) {
  .direction__inner {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .direction__item {
    width: 100%;
  }

  .direction__img {
    width: 100%;
  }

  .about__inner {
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr;
  }

  .gallery__item-inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery__item-img {
    width: 100%;
  }
}

@media (max-width: 990px) {
  .offers__link {
    min-height: 200px;
  }

  .offers__items {
    grid-gap: 10px;
  }

  .tour__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 15px;
  }

  .booking__input {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .header__phone span {
    display: none;
  }

  .travel-info__items {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }

  .offers__link:nth-child(3),
  .offers__link:nth-child(6) {
    grid-column: auto;
    grid-row: auto;
  }

  .offers__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .offers__link {
    min-height: 320px;
  }

  .offers {
    padding: 50px 0;
    margin-top: 0;
  }

  .map {
    padding-bottom: 50px;
    padding-top: 20px;
  }

  .about {
    padding-bottom: 50px;
  }

  .about__inner {
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }

  .about__popup {
    min-height: 400px;
  }

  .gallery {
    padding-bottom: 50px;
  }

  .tour {
    padding: 50px 0;
  }

  .tour__box {
    column-count: 1;
  }

  .tour__title {
    margin-bottom: 40px;
  }

  .tour__info {
    grid-template-columns: repeat(2, 1fr);
  }

  .direction {
    padding: 50px 0;
  }

  .booking {
    padding: 50px 0;
  }

  .booking__label {
    width: 100%;
    margin-top: -215px;
    margin-left: 50px;
  }

  .booking__btn {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .footer {
    padding: 50px 0;
  }

  .footer__contacts {
    flex-wrap: wrap;
  }

  .footer__item {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  .footer__phone {
    margin-bottom: 0;
  }

  .footer__logo {
    margin-bottom: 40px;
  }
}

@media (max-width: 560px) {
  .header__title {
    font-size: 50px;
  }

  .menu__btn {
    display: inline-block;
    border: none;
    padding: 0;
    background-color: transparent;
    width: 40px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 108px;
    cursor: pointer;
  }

  .menu__btn::after,
  .menu__btn::before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 4px;
    background-color: #fff;
  }

  .menu__btn::before {
    top: 0;
  }

  .menu__btn::after {
    bottom: 0;
  }

  .menu__btn span {
    display: block;
    height: 4px;
    background-color: #fff;
  }

  .menu__list {
    display: block;
    background-color: #886239;
    border-top: 2px solid #fff;
    transform: translateY(-200%);
    transition: all 0.7s;
    position: absolute;
    left: 0;
    right: 0;
  }

  .menu__list.menu__list--active {
    transform: translateY(0%);
    transition: all 0.7s;
  }

  .menu__link {
    text-align: center;
    display: block;
    padding: 10px;
    border-bottom: 2px solid #fff;
  }

  .logo {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  .menu {
    border: none;
    margin-top: 0;
  }

  .header__phone-number {
    margin: 0;
  }
  .header__wrap {
    text-align: center;
  }

  .direction__inner {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .travel-info__items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  .title {
    font-size: 28px;
  }

  .offers__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .map__iframe {
    height: 400px;
  }

  .gallery__item-inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery__top {
    flex-wrap: wrap;
  }

  .gallery__title {
    width: 100%;
  }
}

@media (max-width: 460px) {
  .travel-info__items {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .travel-info__item {
    margin: 0 auto;
  }

  .direction__inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .tour__info {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 340px) {
  .about__popup {
    min-height: 280px;
  }
}
